@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 100%;
  display: flex;
  position: relative;
}

.wrapper {
  margin: auto;
  padding: 0 15px;
}

.dis-flex {
  display: flex;
  flex-wrap: wrap;
}

.content-center {
  justify-content: center;
}

.content-between {
  justify-content: space-between;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  margin-top: 8px;
  color: #fff;
}
@media (max-width: 1440px) {
  h1 {
    font-size: 16px;
  }
}

h1, h2, h3 {
  text-transform: capitalize;
  font-weight: 400;
}

.default-btn-outer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.default-btn-outer .default-btn {
  background-color: #E53E14;
  border-radius: 8px;
  padding: 12px 33px;
  display: inline-block;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  margin-top: 35px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.default-btn-outer .default-btn.view-btn::before {
  content: "";
  background: url("../src/assets/images/viewDashboardBtn.svg") 0 4px no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
}
.default-btn-outer .default-btn.prev-btn, .default-btn-outer .default-btn.next-btn {
  background-color: #F3F3F3;
  color: #363538;
}
.default-btn-outer .default-btn.prev-btn::before, .default-btn-outer .default-btn.prev-btn::after, .default-btn-outer .default-btn.next-btn::before, .default-btn-outer .default-btn.next-btn::after {
  width: 11px;
  height: 11px;
  position: relative;
  display: inline-block;
  filter: brightness(0.2);
  vertical-align: middle;
}
.default-btn-outer .default-btn.prev-btn:hover, .default-btn-outer .default-btn.next-btn:hover {
  background-color: #E53E14;
  color: #fff;
}
.default-btn-outer .default-btn.prev-btn:hover::before, .default-btn-outer .default-btn.prev-btn:hover::after, .default-btn-outer .default-btn.next-btn:hover::before, .default-btn-outer .default-btn.next-btn:hover::after {
  filter: brightness(1);
}
.default-btn-outer .default-btn.prev-btn::before {
  content: "";
  background: url("../src/assets/images/prevBtn.svg") 0 0 no-repeat;
  background-size: 100%;
  margin-right: 10px;
}
.default-btn-outer .default-btn.next-btn::after {
  content: "";
  background: url("../src/assets/images/prevBtn.svg") 0 0 no-repeat;
  background-size: 100%;
  margin-left: 10px;
  transform: rotate(180deg);
}

.font-8 {
  font-size: 8px;
}

.font-9 {
  font-size: 9px;
}

.font-10 {
  font-size: 10px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}
@media (max-width: 1440px) {
  .font-16 {
    font-size: 14px;
  }
}

.font-17 {
  font-size: 17px;
}
@media (max-width: 1440px) {
  .font-17 {
    font-size: 14px;
  }
}

.font-25 {
  font-size: 25px;
}
@media (max-width: 1440px) {
  .font-25 {
    font-size: 18px;
  }
}

.big-font {
  font-size: 100px;
}
@media (max-width: 1440px) {
  .big-font {
    font-size: 90px;
  }
}
@media (max-width: 1320px) {
  .big-font {
    font-size: 80px;
  }
}

.gold {
  color: #D9A25D;
}

.red {
  color: #F78757;
}

.white {
  color: #fff;
}

.green {
  color: #5BC3A3;
}

.silver {
  color: #D2D2D2;
}

.margin-l-20 {
  margin-left: 20px;
}

.margin-l-10 {
  margin-left: 10px;
}

.margin-l-5 {
  margin-left: 5px;
}

.margin-lr-4 {
  margin: 0 4px;
}

.small-gap {
  margin: 0 2px;
}

select, .select, button, input, textarea {
  font-family: "Rubik", sans-serif;
}

.sidebar {
  background-color: #1B1B29;
  max-width: 265px;
  width: 100%;
  min-height: 100vh;
  padding: 28px 0 28px 28px;
  transition: all 0.2s ease-in-out;
}
.sidebar .logo {
  text-align: center;
  margin-bottom: 15px;
}
.sidebar .menu .menu-item, .sidebar .menu .sub-menu {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.sidebar .menu .menu-item {
  position: relative;
}
.sidebar .menu .menu-item::before {
  content: "";
  background-color: rgba(240, 240, 240, 0.6);
  width: 93%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
}
.sidebar .menu .menu-item.active .sub-menu {
  display: block;
}
.sidebar .menu .menu-item.active .menu-btn {
  transform: rotate(180deg);
}
.sidebar .menu .menu-title {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 0;
  cursor: pointer;
}
.sidebar .sub-menu {
  margin-bottom: 10px;
  display: none;
}
.sidebar .sub-menu .sub-head {
  padding: 15px 10px;
  cursor: pointer;
}
.sidebar .sub-menu .sub-head:hover, .sidebar .sub-menu .sub-head.active {
  background-color: rgba(255, 255, 255, 0.2);
  border-right: 4px #E53E14 solid;
  border-radius: 4px;
}
.sidebar .sub-menu .sub-head img {
  margin-right: 10px;
  vertical-align: middle;
}
.sidebar.slide {
  max-width: 95px;
}
.sidebar.slide h1 {
  display: none;
}
.sidebar.slide .logo {
  padding-right: 20px;
}
.sidebar.slide .logo img {
  max-width: 30px;
}
.sidebar.slide .menu-title {
  justify-content: center;
}
.sidebar.slide .hide-text-m {
  display: none;
}
.sidebar.slide .sub-menu .sub-head {
  padding-left: 16px;
}

.dashboard {
  background-color: #F9F9F9;
  width: 100%;
  position: relative;
  padding-bottom: 70px;
}
.dashboard select, .dashboard .select {
  background: transparent;
  border: 0;
  outline: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background-position: right;
  padding-right: 10px;
}

.top-header {
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(54, 53, 56, 0.4);
  background-color: #fff;
}
.top-header h2 {
  font-size: 24px;
  font-weight: 500;
  color: #000C43;
  display: inline-block;
}
.top-header .hamberger {
  vertical-align: middle;
  margin-right: 10px;
  margin-top: 12px;
  display: inline-block;
  cursor: pointer;
}
.top-header .hamberger span {
  background-color: #33363F;
  width: 20px;
  height: 3px;
  border-radius: 2px;
  display: inline-block;
}
.top-header .hamberger span::before, .top-header .hamberger span::after {
  content: "";
  background-color: #33363F;
  height: 3px;
  border-radius: 2px;
  display: inline-block;
  position: relative;
}
.top-header .hamberger span::before {
  width: 16px;
  top: -4px;
}
.top-header .hamberger span::after {
  width: 10px;
  top: -16px;
}
.top-header .top-header-inner {
  display: flex;
  justify-content: space-between;
}
.top-header .right-box {
  display: flex;
  gap: 22px;
  align-items: center;
}
.top-header .search-box {
  background-color: #EFEFEF;
  border-radius: 5px;
  display: flex;
  padding-left: 12px;
  min-width: 253px;
}
.top-header .search-box input {
  font-size: 12px;
  color: #363538;
  padding: 12px;
  border: 0;
  outline: 0;
  background-color: transparent !important;
  width: 100%;
}
.top-header .notification-box {
  background-color: #FFECE7;
  border-radius: 5px;
  padding: 9px 11px;
  position: relative;
}
.top-header .notification-box .live {
  background-color: #A8F650;
  width: 8px;
  height: 8px;
  position: absolute;
  top: -2px;
  right: 3px;
  border-radius: 50%;
}
.top-header .admin-box {
  display: flex;
  gap: 9px;
  cursor: pointer;
}
.top-header .admin-box .name {
  font-size: 16px;
  color: #000;
}
.top-header .admin-box .title {
  font-size: 12px;
  margin-top: 5px;
  color: #363538;
}
.top-header .admin-box .admin-popup {
  display: none;
}
.top-header .admin-box .admin-popup.active {
  position: absolute;
  background: #fff;
  padding: 10px;
  top: 90px;
  min-width: 170px;
  display: block;
  right: 4px;
  box-shadow: 0px 1px 10px #e1e1e1;
}
.top-header .admin-box .admin-popup.active li {
  list-style-type: none;
}
.top-header .admin-box .admin-popup.active svg {
  width: 18px;
  vertical-align: middle;
  margin-right: 3px;
}

.column-boxes-section {
  margin-top: 30px;
}
.column-boxes-section .column-boxes-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}
.column-boxes-section .column-boxes-inner .icon-box {
  background-color: #DDFDFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 68px;
  margin: auto;
}
.column-boxes-section .column-boxes-inner .col-box {
  flex-basis: 25%;
  padding: 24px 14px 18px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}
.column-boxes-section .column-boxes-inner .col-box h3 {
  margin-top: 14px;
  font-size: 16px;
  color: #000;
}
.column-boxes-section .column-boxes-inner .col-box h6 {
  margin-top: 4px;
  color: rgba(54, 53, 56, 0.5);
  font-size: 10px;
}
.column-boxes-section .column-boxes-inner .col-box .connect-box {
  color: #363538;
  font-size: 14px;
  background-color: #F7F7F7;
  padding: 11px;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
}
.column-boxes-section .column-boxes-inner .col-box .connect-box img {
  margin-right: 5px;
  vertical-align: middle;
}
.column-boxes-section .column-boxes-inner .col-box .connect .disconnect-icon {
  display: none;
}
.column-boxes-section .column-boxes-inner .col-box .disconnect .connect-icon {
  display: none;
}

.dasboard-footer {
  font-size: 14px;
  color: #000;
  background-color: #F0F0F0;
  padding: 11px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
}/*# sourceMappingURL=Index.css.map */