.sign-in-default {
    &.edit-user-page {
        background: rgb(0 0 0 / 40%);
        .form-box-outer {
            box-shadow: 1px 1px 10px #b5b5b5;
            padding: 30px;
            background-color: #fff;
            border-radius: 12px;
        }
        .container {
            h1 {
                margin-bottom: 40px;
            }
            .close-btn {
                width: 30px;
                height: 30px;
                background: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50px;
                position: absolute;
                top: 30px;
                right: 20px;
                cursor: pointer;
                border: 1px #000 solid;
            }
            .form-box {
                max-width: 100%;
                form {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 0px 40px;
                    .input-box {
                        input[type="radio"] {
                            height: 20px;
                            width: 20px;
                            margin-right: 10px;
                            vertical-align: middle;
                        }
                        .heading {
                            margin-bottom: 10px;
                        }
                    }
                    .radio-box {
                        label {
                            display: block;
                            margin-top: 10px;
                            cursor: pointer;
                        }
                    }
                    .submit-box {
                        display: flex;
                        gap: 20px;
                        .cancel-btn {
                            background-color: transparent !important;
                            border: 1px #E53E14 solid;
                            color: #E53E14;
                        }
                    }
                }
            }
        }
    }

}